/coverage
/node_modules
/public/css
/public/js
/public/fonts
/public/hot
/public/storage
/public/mix-manifest.json
/storage/*.key
/vendor
.DS_Store
.env
.php_cs.cache
composer.phar
coverage.xml
error.log
npm-debug.log
output.txt
